.main {
  font-family: 'Shippori Mincho', serif;
  width: 100%;
  background-color: #FBFBFB;
  overflow: hidden;
}

.main__line {
  width: 80%;
  margin: 0 auto;
}

/*-------------------------------共通事項------------------------------*/

.ttl {
  margin-top: 100px;
  margin-bottom: 50px;
}

.ttl__main {
  font-size: 60px;
}

.ttl__sub {
  font-size: 16px;
  margin-top: 15px;
}

.text {
  font-size: 16px;
  line-height: 35px;
}

.move {
  font-size: 16px;
}


/*--コンテンツ（タイトルから８％寄せ）--*/
.recruit__contents,
.policy__contents,
.recruitment__contents,
.contact__contents {
  margin-left: 8%;
}

/*-------------------------------個別事項------------------------------*/