@charset "UTF-8";
/* CSS Document */
.main {
  font-family: 'Shippori Mincho', serif;
  width: 100%;
  background-color: #FBFBFB;
  overflow: hidden;
  z-index: 0;
}

.main__line {
  width: 80%;
  margin: 0 auto;
}
.ttl {
  margin-top: 100px;
  margin-bottom:50px;
}

.ttl__main {
  font-size: 60px;
}

.ttl__sub {
  font-size: 16px;
  margin-top: 10px;	
 font-weight: bold;
}